<div class="weui_grids" style="position: fixed; bottom:0; width: 100%; background-color: #ffffff; z-index: 2">
    <a id="slide_01" href="#" class="weui_grid js_grid" data-id="button" style="width: 25%; padding: 10px">
        <div class="weui_grid_icon">
            <img src="../../static/node_modules/jquery-weui/dist/demos/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a id="slide_02" href="#" class="weui_grid js_grid" data-id="cell" style="width: 25%; padding: 10px">
        <div class="weui_grid_icon">
            <img src="../../static/node_modules/jquery-weui/dist/demos/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_grid_label">
            Cell
        </p>
    </a>
    <a id="slide_03" href="#" class="weui_grid js_grid" data-id="dialog" style="width: 25%; padding: 10px">
        <div class="weui_grid_icon">
            <img src="../../static/node_modules/jquery-weui/dist/demos/images/icon_nav_dialog.png" alt="">
        </div>
        <p class="weui_grid_label">
            Dialog
        </p>
    </a>
    <a id="slide_04" href="#" class="weui_grid js_grid" data-id="toast" style="width: 25%; padding: 10px">
        <div class="weui_grid_icon">
            <img src="../../static/node_modules/jquery-weui/dist/demos/images/icon_nav_toast.png" alt="">
        </div>
        <p class="weui_grid_label">
            Toast
        </p>
    </a>
</div>