{% extends "demo_02/layout.html" %}

{% block title -%}
    滑动示例
{%- endblock %}

{% block extra_css -%}
{%- endblock %}

{% block slide_01 %}
    {% include "demo_02/_search_bar.html" %}
    <p>sadgsdg1</p>
    <p>sadgsdg2</p>
    <p>sadgsdg3</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>
    <p>sadgsdg</p>

{% endblock %}

{% block slide_02 %}Slide 12{% endblock %}

{% block slide_03 %}Slide 13{% endblock %}

{% block slide_04 %}Slide 14{% endblock %}


{% block content %}

{% endblock %}

{% block extra_js -%}

{%- endblock %}